@{
    ViewBag.Title = "Стартовая страница для сети";
}

<div class="jumbotron">
    <h1>Простая Социальная сеть</h1>
    <p class="lead">Мой проект по итогам внешней лаборатории.</p>   
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Общие требования к проекту</h2>
        <ul>
            <li>Дожно быть не менее 4-5 use case</li>
            <li>Использовние аутефикации и авторизации</li>
            <li>Наличие клиесткого JavaScript</li>
            <li>Использование баз данных со ссвязями между таблицами</li>
            <li>Использоание EntityFramework</li>
            <li>Использовать Multilayered architecture</li>
            <li>Использование ASP.NET MVC</li>
            <li>Использование Хедперов и Фильтров</li>
            <li>Использование Web, WCF или Rest сервисов</li>
        </ul>  
    </div>
    <div class="col-md-6">
        <h2>Требоввания по социальой сети</h2>
        <ul>
            <li>Регистрация пользователя</li>
            <li>Настройка персонально информации</li>
            <li>Друзья пользователя</li>
            <li>Обмен сообщений</li>
            <li>Поиск по критериям</li>
            <li>Управление пользователями</li>
            <li>Модерация сообщений</li>     
        </ul>  
    </div>
 </div>